.profile__description {
    margin: 8px 0 0 0;
    width: 294px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @media screen and (max-width: 820px) {
    .profile__description {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 430px) {
    .profile__description {
      font-size: 14px;
      line-height: 17px;
      margin: 0 auto;
      width: 189px;
    }
  }