.popup__form {
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 36px * 2);
    margin: 0 auto;
  }
  
  @media screen and (max-width: 435px) {
    .popup__form {
      width: calc(100% - 22px * 2);
    }
  }