.header__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    padding-left: 24px;
    color: #A9A9A9;
    text-decoration: none;
    margin: 10px 0 0;
    transition: 0.4s ease-in;
  }
  
  .header__button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 767px) {
    .header__button {
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      padding-top: 6px;
    }
  }

  @media screen and (max-width: 630px) {
    .header__button {
      margin-bottom: 40px;
      padding-left: 0;
    }
  }